/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
// $base-font: "Open Sans", "Helvetica", "sans-serif";
// $header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts
@font-face {
  font-family: "Galano Grotesque Bold";
  src: url('Rene Bieder - Galano Grotesque Bold.otf') format('truetype');
  // src: url('Rene Bieder - Galano Grotesque Bold.otf?#iefix') format('embedded-opentype'),
  //      url('Rene Bieder - Galano Grotesque Bold.woff') format('woff'),
  //      url('Rene Bieder - Galano Grotesque Bold.ttf') format('truetype')
}
$bold-font: "Galano Grotesque Bold";

@font-face {
  font-family: "Galano Grotesque Medium";
  src: url('Rene Bieder - Galano Grotesque Medium.otf') format('truetype');
  // src: url('Rene Bieder - Galano Grotesque Medium.otf?#iefix') format('embedded-opentype'),
  //      url('Rene Bieder - Galano Grotesque Medium.woff') format('woff'),
  //      url('Rene Bieder - Galano Grotesque Medium.ttf') format('truetype')
}
$medium-font: "Galano Grotesque Medium";

@font-face {
  font-family: "Galano Grotesque";
  src: url('Rene Bieder - Galano Grotesque.otf') format('truetype');
  // src: font-url('Rene Bieder - Galano Grotesque.otf?#iefix') format('embedded-opentype'),
  //      font-url('Rene Bieder - Galano Grotesque.otf') format('woff'),
  //      font-url('Rene Bieder - Galano Grotesque.otf') format('truetype')
}
$base-font: "Galano Grotesque";

// Font-size and line-height
$base-size: 14px; // for content
$max-size: 56px; // for big titles, like in my agglo page
$h1-size: 46px; // for titles, except on "votre agglo" page
$h2-size: 32px; // for title of featured article on home
$h3-size: 18px; // for articles titles
$h4-size: 16px; // for city name on articles
$mini-size: 12px;
$base-height: 1.4;
/* -------------------------------------
* Colors
* ------------------------------------- */
// Scheme
$brand-color: #40494E; // rgba(64, 73, 78, 0.3) brand-color in RGBA

$red: #E5332A;
$blue: #30B6C8;
$yellow: #FFCC00;
$orange: #f9b200;
$green: #32B796; // pas dans le template
$white-grey: #F2F2F3;
$light-grey: #58595B;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
