/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
// @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
// $base-font: "Open Sans", "Helvetica", "sans-serif";
// $header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts
@font-face {
  font-family: "Galano Grotesque Bold";
  src: url('Rene Bieder - Galano Grotesque Bold.otf') format('truetype');
  // // src: url('Rene Bieder - Galano Grotesque Bold.otf?#iefix') format('embedded-opentype'),
  //      url('Rene Bieder - Galano Grotesque Bold.woff') format('woff'),
  //      url('Rene Bieder - Galano Grotesque Bold.ttf') format('truetype')
}
$header-font: "Galano Grotesque Bold";

@font-face {
  font-family: "Galano Grotesque Medium";
  src: url('Rene Bieder - Galano Grotesque Medium.otf') format('truetype');
  // src: url('Rene Bieder - Galano Grotesque Medium.otf?#iefix') format('embedded-opentype'),
  //      url('Rene Bieder - Galano Grotesque Medium.woff') format('woff'),
  //      url('Rene Bieder - Galano Grotesque Medium.ttf') format('truetype')
}
$second-font: "Galano Grotesque Medium";

// @font-face {
//   font-family: "Galano Grotesque Medium";
//   src: font-url('Rene Bieder - Galano Grotesque Medium.otf');
//   src: font-url('Rene Bieder - Galano Grotesque Medium.otf?#iefix') format('embedded-opentype'),
//        font-url('Rene Bieder - Galano Grotesque Medium.otf') format('woff'),
//        font-url('Rene Bieder - Galano Grotesque Medium.otf') format('truetype')
// }
$base-font: "Galano Grotesque Medium";

// Font-size and line-height
$base-size: 14px;
$base-height: 1.4;
$header-size: 56px;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #40494E;

$red: #E5332A;
$blue: #30B6C8;
$yellow: #FFCC00;
$orange: #E67E22; // pas dans le template
$green: #32B796; // pas dans le template
$white-grey: #F2F2F3;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
