/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

  h1 {
    font-size: $header-size;
    font-family: $header-font;
  }

  p {
    font-size: $base-size;
    font-family: $base-font;
  }

  ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
