<footer class="flex-start">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <h3>Découvrez votre nouvelle agglo</h3>
    <hr>
    <p>Recevez chaque mois l'essentiel de votre agglomération.</p>
    <a href="">Je m'abonne</a>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <h3>Les dernières actus</h3>
    <hr>
    <p>Fiches dernières actus</p>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <h3>Restez connectés</h3>
    <hr>
    <p>Facebook, Twitter, ...</p>
  </div>
</footer>
