<nav class="navbar-wagon navbar-wagon-fixed">
  <div class="container navbar-wagon-container">

    <a href="/">
      <%= image_tag "logo.png", class: "navbar-wagon-logo" %>
    </a>

    <div class="navbar-wagon-pusher"></div>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag "picto_menu.png", class: "navbar-wagon-logo dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Votre agglo</a></li>
          <li><a href="#">Projets</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Equipements</a></li>
          <li><a href="#">Actus</a></li>
          <li><a href="#">Evènements</a></li>
        </ul>
      </div>
    </div>
    <div class="navbar-wagon-item">
      <%= image_tag "picto_search.png", class: "navbar-wagon-logo dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
    </div>
  </div>
</nav>
