<div class="page-title">
  Equipements
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="header-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/600/300?image=0');">
        <div class="card-text">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <div class="card-user">
          <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
        </div>
        <a href="#" class="card-link"></a>
      </div>


    </div>
  </div>
</div>
