<div class="full-width bottom-border flex-center">
  <div class="container max-width margin-top-80 padding-top-15 padding-bottom-15">
    <div class="title text-colored-blue">votre agglo </div>
  </div>
</div>

<div class="full-width bottom-border">
  <div class="container max-width">

    <!-- row for social links : facebook, twitter, website, etc -->
    <div class="row social-row ">
      <div class="col-xs-12">
        <div class="flex-center">
          <hr class="hr-left">
          <a class="social-item"><i class="fa fa-facebook"> 287</i></a>
          <hr>
          <a class="social-item"><i class="fa fa-twitter"> 287</i></a>
          <hr>
          <div class="social-pusher"></div>
          <hr>
          <a href="/" class="social-item">Site web</a>
          <hr class="hr-right">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container max-width">

  <!-- row for title -->
  <div class="row">
    <div>
      <h1>Carte d'identité</h1>
    </div>
  </div>

  <!-- row for vidéo -->
  <div class="row">
    <div>
      <h2>Vidéo#à rajouter plus tard</h2>
    </div>
  </div>


  <!-- row for the description of Grand Paris Sud -->
  <div class="row margin-top-20 margin-bottom-20 flex-center flex-wrap">
    <div>
      <h2>« Grand Paris Sud » qu'est-ce-que c'est ?</h2>
      <p>Une nouvelle agglomération au sud de l'Ile-de-France qui regroupe 24 communes sur deux départements, l'Essonne et la Seine-et-Marne.</p>

      <p> Avec ses 331 747 habitants, Grand Paris Sud est le 5ème territoire francilien en nombre d'habitants et l'un des moteurs de la croissance démographique de la région Ile-de-France.
        <ul>
          <li>
            Pôle économique majeur de la région francilienne, Grand Paris Sud accueille plus de 15 000 entreprises, de nombreux sièges sociaux de grands groupes ( Snecma-Safran, Arianespace, Truffaut..), des industries de pointe (high-tech, éco-activités, recherche médicale…), 5 centres commerciaux à notoriété régionale et 9 établissements d'enseignement supérieur attirant près de 18 000 étudiants.
          </li>
          <li>Parmi les atouts contribuant à l'attractivité de Grand Paris Sud :
            <li>la conjugaison d'une desserte routière et ferroviaire dense (17 gares RER) avec une large présence des espaces verts (Forêts de Sénart, de Rougeau, Bois de Saint-Eutrope..) et terres agricoles.
            </li>
            <li>De nombreux équipements de loisirs, culturels et sportifs : salles dédiées au spectacle vivant (dont 2 scènes nationales), cinémas, réseaux de médiathèques et conservatoires, piscines, patinoire, bowling, parcours de golf, terrain de base-ball...
            </li>
          </li>
        </ul>
      </p>
    </div>
  </div>

  <div class="row bloc-colored bloc-colored-blue margin-top-20 margin-bottom-20 flex-center flex-wrap"  >
    <div class="col-xs-12 col-sm-4">
      <h2>24 communes</h2>
      <%= image_tag "carte.png" %>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="row">
        <div class="col-xs-6">
          <ul>
            <% @communes[0..@communes.length/2.round].each do |commune| %>
              <li>
                <%= commune %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-6">
          <ul>
            <% @communes[@communes.length/2.round+1..@communes.length].each do |commune| %>
              <li>
                <%= commune %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-top-20 margin-bottom-20 flex-center flex-wrap ">
    <div class="col-xs-12 col-sm-6 bloc-colored bloc-colored-grey">
      <h3>La génèse</h3>
      <p>Date de naissance : 1er janvier 2016 <p>
      <p>Origines : la nouvelle agglomération est issue de la fusion des agglomérations d'Evry Centre Essonne (CAECE), de Seine Essonne (CASE), et de Sénart (Sénart), du Syndicat d'agglomération nouvelle de Sénart en Essonne ( SAN 91) et de la commune de Grigny jusqu'alors intégrée à l'agglomération des Lacs de l'Essonne (CALE).  <p>
      <p> Pourquoi cette grande agglo ? cette fusion s'est faite dans le cadre de la mise en œuvre du Schéma Régional de Coopération Intercommunale (SRCI) ré-organisant la Grande Couronne francilienne.<p>
      <p> L'objectif est de créer des intercommunalités de taille suffisante (+ de 200 000 habitants) pour peser dans les échanges avec la Métropole du Grand Paris. <p>
      <p> Précédemment : 41 intercommunalités en Ile-de-France. Taille moyenne : 95 000 habitants<p>
      <p> En janvier 2016 : 18 intercommunalités. Taille moyenne : 240 000 habitants</p>
    </div>
  </div>

  <div class="row margin-top-20 margin-bottom-20 flex-center flex-wrap ">
    <div class="col-xs-12 col-sm-4 bloc-colored bloc-colored-red" style = "height: 150px;">
      <ul>
        <li class="chart text-center" data-percent="51"><span>51%</span>d'espaces agricoles</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
  </div>

  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    !function() {
      var a = function(a, b) {
          var c = document.createElement("canvas");
          "undefined" != typeof G_vmlCanvasManager && G_vmlCanvasManager.initElement(c);
          var d = c.getContext("2d");
          if (c.width = c.height = b.size, a.appendChild(c), window.devicePixelRatio > 1) {
            var e = window.devicePixelRatio;
            c.style.width = c.style.height = [b.size, "px"].join(""), c.width = c.height = b.size * e, d.scale(e, e)
          }
          d.translate(b.size / 2, b.size / 2), d.rotate((-0.5 + b.rotate / 180) * Math.PI);
          var f = (b.size - b.lineWidth) / 2;
          b.scaleColor && b.scaleLength && (f -= b.scaleLength + 2);
          var g = function(a, b, c) {
              c = Math.min(Math.max(0, c || 1), 1), d.beginPath(), d.arc(0, 0, f, 0, 2 * Math.PI * c, !1), d.strokeStyle = a, d.lineWidth = b, d.stroke()
            },
            h = function() {
              var a, c, e = 24;
              d.lineWidth = 1, d.fillStyle = b.scaleColor, d.save();
              for (var e = 24; e >= 0; --e) 0 === e % 6 ? (c = b.scaleLength, a = 0) : (c = .6 * b.scaleLength, a = b.scaleLength - c), d.fillRect(-b.size / 2 + a, 0, c, 1), d.rotate(Math.PI / 12);
              d.restore()
            };
          Date.now = Date.now || function() {
            return +new Date
          };
          var i = function() {
            return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || function(a) {
              window.setTimeout(a, 1e3 / 60)
            }
          }();
          this.clear = function() {
            d.clearRect(b.size / -2, b.size / -2, b.size, b.size)
          }, this.draw = function(a) {
            this.clear(), b.scaleColor && h(), b.trackColor && g(b.trackColor, b.lineWidth), d.lineCap = b.lineCap;
            var c;
            c = "function" == typeof b.barColor ? b.barColor(a) : b.barColor, a > 0 && g(c, b.lineWidth, a / 100)
          }.bind(this), this.animate = function(a, c) {
            var d = Date.now();
            b.onStart(a, c);
            var e = function() {
              var f = Math.min(Date.now() - d, b.animate),
                g = b.easing(this, f, a, c - a, b.animate);
              this.draw(g), b.onStep(a, c, g), f >= b.animate ? b.onStop(a, c) : i(e)
            }.bind(this);
            i(e)
          }.bind(this)
        },
        b = function(b, c) {
          var d, e = {
              barColor: "#ef1e25",
              trackColor: "#f9f9f9",
              scaleColor: "#dfe0e0",
              scaleLength: 5,
              lineCap: "round",
              lineWidth: 3,
              size: 110,
              rotate: 0,
              animate: 1e3,
              renderer: a,
              easing: function(a, b, c, d, e) {
                return (b /= e / 2) < 1 ? d / 2 * b * b + c : -d / 2 * (--b * (b - 2) - 1) + c
              },
              onStart: function() {},
              onStep: function() {},
              onStop: function() {}
            },
            f = {},
            g = 0,
            h = function() {
              this.el = b, this.options = f;
              for (var a in e) e.hasOwnProperty(a) && (f[a] = c && "undefined" != typeof c[a] ? c[a] : e[a], "function" == typeof f[a] && (f[a] = f[a].bind(this)));
              f.easing = "string" == typeof f.easing && "undefined" != typeof jQuery && jQuery.isFunction(jQuery.easing[f.easing]) ? jQuery.easing[f.easing] : e.easing, d = new f.renderer(b, f), d.draw(g), b.dataset && b.dataset.percent && this.update(parseInt(b.dataset.percent, 10))
            }.bind(this);
          this.update = function(a) {
            return a = parseInt(a, 10), f.animate ? d.animate(g, a) : d.draw(a), g = a, this
          }.bind(this), h()
        };
      window.EasyPieChart = b
    }();

    var options = {
      scaleColor: false,
      trackColor: 'rgba(255,255,255,0.3)',
      barColor: '#E7F7F5',
      lineWidth: 6,
      lineCap: 'butt',
      size: 95
    };

    window.addEventListener('DOMContentLoaded', function() {
      var charts = [];
      [].forEach.call(document.querySelectorAll('.chart'), function(el) {
        charts.push(new EasyPieChart(el, options));
      });
    });
  <% end %>
<% end %>




