<div class="container">

  <div class="row">
    <div>
      <h1>Pages#id_card_agglo</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-4">
      <div class="card card-red">
        <div class="card-category">Popular</div>
        <div class="card-text">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <div class="card-user">
          <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
        </div>
        <a href="#" class="card-link"></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card card-blue">
        <div class="card-category">Popular</div>
        <div class="card-text">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <div class="card-user">
          <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
        </div>
        <a href="#" class="card-link"></a>
      </div>
    </div>


    <div class="col-xs-12 col-sm-4">
      <div class="card card-grey ">
        <div class="card-category">Popular</div>
        <div class="card-text">
          <h2>Some stuff</h2>
          <p>Very cool stuff, useful and smart</p>
        </div>
        <div class="card-user">
          <img src="http://placehold.it/50x50" class="avatar avatar-bordered"/>
        </div>
        <a href="#" class="card-link"></a>
      </div>
    </div>

  </div>

</div>
