.card {
  height: 350px;
  background-size: cover !important;
  color: white;
  position: relative;
  &-red{
    background: $red;
  }
  &-green{
    background: $green;
  }
  &-blue{
    background: $blue;
  }
  &-grey{
    background: $brand-color;
  }
  &-bordered{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
}

.card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
}
.card-type {
  position: absolute;
  right: 10px;
  top: 10px;
}

.colored {
  background-size: cover !important;
  color: white;
  &-red{
    background: $red;
  }
  &-green{
    background: $green;
  }
  &-blue{
    background: $blue;
  }
  &-grey{
    background: $brand-color;
  }
}




