.card {
  position: relative;
}
.card-bg {
  height: 300px;
  background-size: cover !important;
  color: white;
  position: relative;
}
.header-card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}
.card-category {
  border-radius: 50%;
  background-color: white;
  padding: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.card-logo {
  width: 40px;
  border-radius: 50%;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  &:hover{
    opacity: 0.1;
  }
}
